* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav {
  background-color: #a37ff7da;
  width: 100vw;
  height: 5vw;
}

h3 {
  padding: 22px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 34px;
  letter-spacing: 4px;
  font-family: "Alfa Slab One", "cursive";
}
